<% layout('layouts/boilerplate') %>
<body>
  <body>
       <h1>Edit Listing</h1>
        <form class="row g-3 needs-validation" action="/listings/<%= listing._id %>?_method=PATCH" method="POST" novalidate enctype="multipart/form-data">
            <div class="col-md-12 ">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class=" form-control" id="title" value="<%= listing.title %>" name="title" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a title.
                </div>
            </div>
            <div class="col-md-6">
                <label for="image" class="form-label">Image:</label>
                <input type="file" class="form-control" id="image" name="image" required>
                <div class="invalid-feedback">
                    You can add new Listing Image.
                </div>
            </div> 
            <div class="col-md-6">
                <label for="image" class="form-label">Current Image:</label>
                <img src="<%= listing.image.url %>" alt="Listing Image" class="img-thumbnail" style="max-width: 100px; max-height: 100px; object-fit: cover;">
            </div>
            <div class="col-md-12 ">
                <label for="description" class="form-label">Description:</label>
                <textarea class=" form-control" id="description" name="description" required><%= listing.description %></textarea>
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>
            <div class="col-md-12 ">
                <label for="location" class="form-label">Location:</label>
                <input type="text" class=" form-control" id="location" value="<%= listing.location %>" name="location" required>
                <div class="invalid-feedback">
                    Please provide a valid location.
                </div>
            </div>
            <div class="col-md-6">
                <label for="country" class="form-label">Country:</label>
                <input type="text" class=" form-control" id="country" value="<%= listing.country %>" name="country" required>
                <div class="invalid-feedback">
                    Please provide a valid country.
                </div>
            </div>
            <div class="col-md-6 ">
                <label for="price" class="form-label">Price:</label>
                <input type="number" class=" form-control" id="price" value="<%= listing.price %>" name="price" required>
                <div class="invalid-feedback">
                    Please provide a valid price.
                </div>
            </div>
           
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Update Listing</button>
            </div>
        </form>
   
</body>

</html>