
<% layout('layouts/boilerplate') %>

<body>
    
        <div class="listing-container">
            <% for(let listing of listings) { %> 
            <a href="/listings/<%=listing.id%> " class="listing-links">
                <div class="listing-item">
                    <div class="card " >
                        <img src="<%= listing.image.url %>" class="card-img-top" style="height: 14rem ;" alt="<%= listing.title %>">
                        <div class="card-body" >
                            <h5 class="card-title">
                                <%= listing.title.length > 8 ? listing.title.slice(0, 15) + '...' : listing.title %>
                            </h5>
                            <!-- <p class="card-text"><%= listing.description %></p> -->
                            <p><span>₹</span> <%= listing.price.toLocaleString("en-IN") %> /night</p>
                        </div>
                    </div>
                </div>
            </a>
            <% } %>
        </div>



</body>

